* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #EBEBEB;
  }
  
  .navbar {
    background-color: #4C5B62 !important;
  }
  .navbar img {
    margin-left: 15px;
  }
  .navbar .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB !important;
    margin-right: 15px;
    border: none;
    padding: 0px 10px;
    border-radius: 25px;
  }
  .navbar .search-bar input {
    background: none;
    border: none;
  }
  .navbar .search-bar input:focus {
    box-shadow: none;
  }
  .navbar .search-bar i {
    opacity: 70%;
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
  }
  .main-container a {
    text-decoration: none;
    color: white;
  }
  .main-container .ride-list-container {
    width: 280px;
    height: 300px;
    position: fixed;
    z-index: 2;
    bottom: 80px;
    left: 20px;
    border-radius: 25px;
    color: white;
    padding: 20px;
    background-color: #3B6FA1;
    overflow-y: scroll;
  }
  .main-container .ride-list-container::-webkit-scrollbar {
    width: 5px;
    margin-right: -10px;
  }
  .main-container .ride-list-container::-webkit-scrollbar-track {
    background: none;
  }
  .main-container .ride-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EBEBEB;
  }
  .main-container .ride-list-container::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px;
  }
  .main-container .ride-list-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
  }
  .main-container .ride-list-container .ride-number {
    padding: 8px 5px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .main-container .map-container {
    background-image: url("../images/cloud.jpeg");
    background-size: cover;
    background-position: center;
    text-align: right;
    position: relative;
  }
  .main-container .map-container .ride-icon {
    cursor: pointer;
  }
  .main-container .sidebar-container {
    padding: 10px;
    box-shadow: inset 0px 4px 10px rgb(45, 44, 44);
    height: 87vh;
    overflow: scroll;
  }
  .main-container .sidebar-container .filter {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-container .sidebar-container .card {
    background-color: rgb(204, 201, 201);
    border: none;
    margin-bottom: 15px;
  }
  .main-container .sidebar-container .card input[type=radio],
  .main-container .sidebar-container .card input[type=checkbox],
  .main-container .sidebar-container .card .fa-circle-plus {
    margin-right: 15px;
  }
  .main-container .sidebar-container .card .functional {
    width: 18px;
    background: none;
    border: none;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .main-container .sidebar-container .card .physical {
    width: 50px;
    margin-right: 15px;
  }
  .main-container .sidebar-container .card #increase-hand, .main-container .sidebar-container .card #decrease-hand, .main-container .sidebar-container .card #increase-leg, .main-container .sidebar-container .card #decrease-leg {
    cursor: pointer;
  }
  
  #footer {
    position: fixed;
    bottom: 0px;
    background-color: #4C5B62 !important;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: white;
    z-index: 7;
  }
  
  .custom-tooltip {
    --bs-tooltip-bg: #EBEBEB;
    --bs-tooltip-color: black;
  }
  
  .tooltip-inner {
    min-width: 400px;
    border: 2px solid #3B6FA1;
  }
  
  .overlay {
    width: 100%;
    height: 86vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
  }
  .overlay .message-box {
    background-color: #3B6FA1;
    color: #EBEBEB;
    position: fixed;
    width: 50vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border-radius: 40px;
  }
  
  .not-searched {
    opacity: 40%;
    pointer-events: none;
  }
  
  .description-container {
    overflow-y: scroll;
    height: 84vh;
  }
  .description-container .top {
    background-color: #A2CAE3;
    margin: 15px auto;
    width: 90% !important;
    padding: 12px;
    text-align: center;
  }
  .description-container .bottom {
    width: 90% !important;
    margin: 30px 0 0 90px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .description-container .bottom p {
    text-align: justify;
  }
  .description-container .bottom .sensory-container img {
    width: 100%;
    margin-bottom: 20px;
  }
  .description-container .bottom .sensory-container .image-container {
    position: relative;
  }
  .description-container .bottom .sensory-container .image-container .numbers-container {
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
  }
  .description-container .bottom .sensory-container .image-container .numbers-container .numbers {
    flex: 1;
    text-align: center;
    font-size: 3em;
    color: #D2222D;
  }
  .description-container .bottom .restriction-container {
    width: 46%;
  }
  /* Increased contrast for better readability */

/* Dark text color on light backgrounds */
body, .login-container input[type="text"], .login-container input[type="password"] {
    color: #333; /* Dark text color */
}

/* Light background color */
input[type="text"], input[type="password"] {
    background-color: #fff; /* Light background color */
}

/* Darker text color for labels */
.login-container label {
    color: #333; /* Dark text color */
}

/* Darker background for buttons */
.login-container button[type="submit"] {
    background-color: #4CAF50; /* Darker background color for submit button */
}

/* Darker background for cancel button */
.login-container button[type="button"] {
    background-color: #cb4d4d; /* Darker background color for cancel button */
}

/* Dark text color for links */
.main-container a {
    color: #333; /* Dark text color for links */
}

  
  .ride-table-container {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
  }
  .ride-table-container .add {
    background-color: #3B6FA1;
    border: none;
  }
  
  .register-container {
    width: 40%;
    margin: auto;
    border-radius: 30px;
    border: 1px solid #4C5B62;
  }
  .register-container h2 {
    color: #3B6FA1;
    font-weight: bold;
  }
  .register-container button {
    background-color: #3B6FA1;
    border: none;
    display: block;
    margin: auto;
  }
  
  .admin-update {
    position: fixed; /* Position the box relative to the viewport */
    top: 50%; /* Position the top edge of the box at 50% of the viewport height */
    left: 50%; /* Position the left edge of the box at 50% of the viewport width */
    transform: translate(-50%, -50%);
    border: 2px solid #e4dada;
    padding: 30px; 
    border-radius: 10px;
    width: 70%;
  }
  
  .login-container {
    text-align: center; /* Center the form elements */
  
  }
  
  .login-container label {
    display: block; /* Display labels on new lines */
    margin-bottom: 5px; /* Add some space between labels and inputs */
    font-weight: bold; 
    margin-left: 30%;
    text-align: left;
    /* Make labels bold f
    or better readability */
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 60%; /* Make input fields full width */
    padding: 10px; /* Add some padding to input fields */
    border: 1px solid #ccc; /* Add a thin border to input fields */
    border-radius: 3px; /* Add rounded corners to input fields */
    margin-bottom: 15px; 
    margin-left: 20%;
    background-color: #cacccee8;
  }
  
  .login-container .name-group {
    display: flex; /* Use flexbox */
    margin-left: 24%;
  
  }
  
  .login-container .name-group input[type="text"] {
    width: calc(120% - 50px); ; /* Make input fields full width */
    padding: 10px; /* Add some padding to input fields */
    border: 1px solid #ccc; /* Add a thin border to input fields */
    border-radius: 3px; /* Add rounded corners to input fields */
    margin-bottom: 15px; 
    margin-left: 25%;
    background-color: #cacccee8;
    display: inline-block;
  }
  
  .login-container button {
    padding: 2px 35px; /* Add some padding to buttons */
    background-color: #4CAF50; /* Green color for submit button */
    color: white; /* White text color for buttons */
    border: none; /* Remove default button border */
    border-radius: 15px; /* Add rounded corners to buttons */
    cursor: pointer; /* Make buttons look clickable */
    margin-left: 60%;
    display: inline;
    /* Add some space between buttons */
  }
  .button-container {
    display: flex;
  }
  
  .button-container button {
    margin-right: 60%; /* Add some margin between the buttons */
  }
  .button-container button:first-child {
    margin-right: 10px; /* Add margin to the right side of the first button */
  }
  
  .button-container button:last-child {
    margin-left: 10px; /* Add margin to the left side of the last button */
  }
  
  .login-container button:hover {
    opacity: 0.8; /* Make buttons slightly transparent on hover */
  }
  
  .login-container button[type="button"] { /* Style for cancel button */
  
    background-color: #cb4d4d; /* Gray color for cancel button */
  }
  
  .label-with-icon {
    position: relative; /* Make the label position relative */
  }
  
  .input-icon {
    position: absolute; /* Position the icon absolutely */
    left: 10%; /* Adjust the left position of the icon */
    top: 13%; /* Align the icon vertically */
    transform: translateY(-50%); /* Center the icon vertically */
    width: 150px; /* Set the width of the icon */
    height: auto; /* Allow the height to adjust proportionally */
  }
  .white-bg {
    background-color: white;
  }
  
  button:focus {
    outline: none !important;
    box-shadow: none !important;
  }/*# sourceMappingURL=style.css.map */